div#params {
margin-top:1em;
margin-bottom:1em;
}
div#params input {
  width: 8em;
  font-size: 1em;

}
div.events {
  float:left;

}

div.instances {
  float:right;
  width:50%;

}

div.info {
  color: grey;

}

div.events ul#output li span.delete,span.instances {
  display:inline;
  margin-left:10px;
}

ul {
  list-style-type:none;

}
li { background: white; }
li:nth-child(even) { background: #eeeeee; }

div#search_content div#params {
	font-family: Arial,Helvetica,sans-serif;

}